# General Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
*.egg
build/
dist/
.cache/
.pytest_cache/
.mypy_cache/
.tox/
.venv/
venv/
env/    
ENV/

# Django specific
db.sqlite3    
db.sqlite3-*  
media
static/
*.log        
secrets.json   
.env

# Editor/IDE specific
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Compiled code /  packaging
*.so

# Security/Credentials (SIEMPRE ignora estos!)
*.key
*.pem
*.cer
credentials.json
credentials.ini
id_rsa

# Unit test reports and coverage
htmlcov/
.coverage*
**/coverage.xml